<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="UTF-8">
    <title>TooDoo List</title>
</head>

<body>
<h1>New task</h1>
<br/>
<p th:if="${taskCreationError}" class="error"><font color="red" >taskCreationError</font></p>

<form method="POST" th:object="${newTaskAttr}" th:action="@{/todolist/newTask}" id="newTaskForm">

    <label for="taskName">Task name: </label><br/>
    <input type="text" id="taskName" th:field="*{taskName}"/>
    <span th:if="${#fields.hasErrors('taskName')}"
          th:errors="*{taskName}">taskName Error</span>
    <br/><br/>

    <label for="taskDescription">Task description: </label><br/>
    <textarea rows="4" cols="30" th:field="*{taskDescription}" id="taskDescription" style="margin: 0px; width: 450px; height: 304px;"></textarea>
    <br/><br/>

    <input type="submit" value="OK"/>

</form>

</body>
</html>